* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_block {
    width: 600px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.middle_block {
    width: 198px;
    height: 198px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.small_block {
    width: 64.6px;
    height: 64.5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    margin-top: 10px;
    width: 500px;
    justify-content: space-around;
}


.newTask,
.solveTask {
    height: 50px;
    width: 200px;
}
