*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.main_block {
    width: 600px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: aquamarine;

}

.middle_block {
    width: 33.33333%;
    height: 33.333333%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;

}

.small_block {
    width: 65px;
    height: 65px;
    border: 1px solid black;
    background-color: white;
    
}

