* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block {
    width: 600px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.middle_block {
    width: 198px;
    height: 198px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.small_block {
    width: 64.6px;
    height: 64.5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_block {
width: 13px;
height: 20px;
font-size: 24px;
outline: none;
border: none;
caret-color: transparent;
}

input:hover {
    cursor: pointer;
}
